<h2>
  <%= link_to(@event.event_type.name, @event.event_type) %> from <%= @event.started_on %> to <%= @event.ended_on %>
</h2>

<h3>
  Mines
  <%= create_badge(new_event_mine_path(@event)) %>
</h3>

<% if @event.mines.any? %>
  <div class="container text-center">
    <% @event.mines.each do |mine| %>
      <%= render mine %>
    <% end %>
  </div>
<% else %>
  No Mines
<% end %>
